<style> 
.plus{color:#b1000f}
.minus{color:#30992e} 
.number{color: #ff7300;font-size: 0.65rem;padding: 0 0.3rem;}
.item-list .item-row-1-5 {
    width: 15%;
}
.item-list .item-row-2-5 {
    width: 25%;
}
.view-more{
color: #666;
    text-align: center;
    padding: 0.5rem;
    display: block;}
</style>
<div class="app-page" data-page="point_ranking" ng-controller="PointRankingCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			<div class="app_nav_head">
				<span class="app_nav_txt">积分排行</span>
			</div>
		</h1>
	</div>
	<div class="app-content">
        <div class="item-list">
		    <dl>
		        <dd class="item-row-1-5">名次</dd>
		        <dd class="item-row-6">企业</dd>
		        <dd class="item-row-2-5">积分</dd>
		    </dl>
			<dl ng-repeat="item in rankingList">
		        <dd class="item-row-1-5">{{$index < 9  ? '0' : ''}}{{$index+1}}</dd>
		        <dd class="item-row-6">{{item.integralRecordDesc}}</dd>
		        <dd class="item-row-2-5">{{item.useable}}&nbsp;分</dd>
			</dl>
		</div>
		<hr>
		<a href="javascript:;" class="view-more" ng-click="more()">查看更多</a>
		<hr>
        <section class="section">
        	<div style="padding: .5rem;font-size: 0.8rem;border-bottom: 1px solid #eee;">大数据显示</div>
            <div class="label-act"> 
			   <a href="#/user">
			     	<div class="title"><h2>您当前的排行：第<span class="number">{{rank}}</span>名</h2></div>
			     	<div class="sub">共{{point}}积分</div>
			    </a> 
			 </div>
            <div class="label-act"> 
			   <a href="#/user">
			     	<div class="title"><h2>已经击败了<span class="number">{{compare}}%</span>的同道</h2></div>
			     	<div class="sub"></div>
			    </a> 
			 </div>
		</section>   
    </div>
</div>