<style> 
.tab_cate li a {
    padding: .5rem 1.5rem;
}

.point-product{padding:0 .3rem;width: 100%;}
.point-pro-item{float:left;width:46%;background:#fff;text-align:center;height:6rem;padding:.5rem 0;margin:.3rem}
.point-pro-item .point-pro-title{font-size:.8rem}
.point-pro-item .point-pro-title span{font-size:.5rem;color:#666}
.point-pro-item p{border-radius:1rem;border:1px solid #b6b1ae;height:1.2rem;line-height:1.2rem;width:80%;margin:0 auto;font-size:.75rem;color:#999}
.point-pro-item .point-pro-value{font-weight:700;font-size:1rem;color:#aaa;padding-bottom:.3rem}
.point-pro-item .point-pro-value span{font-size:3rem}
.point-pro-item.cur .point-pro-value{color:#ff7300}
.point-pro-item.cur p{color:#ff7300;border:1px solid #ff7300}
.flow{
}
</style>
<div class="app-page" data-page="point_list" ng-controller="PointListCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			<div class="app_nav_head">
				<span class="app_nav_txt">积分兑换</span>
			</div>
		</h1>
	</div>
	<div class="app-content">
		<div class="tab_cate">
			<ul>
				<li ng-class="{cur: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">兑换话费</a></li>
				<li ng-class="{cur: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2">兑换流量</a></li>
				<div class="clr"></div>
			</ul>
		</div>
        <div class=" wcd-list"  ng-show="vm.activeTab == 1">
			<div class="point-product">
        		<div class="point-pro-item" ng-class="{true:'cur',false:''}[point > 1250]" ng-click="exchange(1250)">
        			<div class="point-pro-title">话费直充</div>
        			<div class="point-pro-value"><span>15</span>元</div>
        			<p>1250积分/M值</p>
        		</div>
        	</div>
		</div>
        <div class="wcd-list"  ng-show="vm.activeTab == 2">
			<div class="point-product">
        		<div class="point-pro-item flow" ng-class="{true:'cur',false:''}[point > 840]" ng-click="exchange(840)">
        			<div class="point-pro-title">国内通用流量<br><span>2/3/4G通用</span></div>
        			<div class="point-pro-value"><span style="font-size: 2.1rem;">100</span>MB</div>
        			<p>840积分/M值</p>
        		</div>
        	</div>
		</div>
    </div>
</div>