<style>
.sp_title{background:#f5f5f5;padding:.4rem .5rem;color:#000;font-weight:600;font-size:.65rem}
.seo section{padding:.5rem;color:#666;line-height:1.2rem}
.seo section p{text-indent:1.2rem}
.seo section div{color:#000}

.extend_tip{background:#f5f5f5;padding:10px;text-indent:25px;color:#666;line-height:1.5;font-size: 0.5rem;font-family: "Microsoft YaHei",Helvetica,Arial,"WenQuanYi Micro Hei";}
.extend_tip_a{color:#ff7300;padding:10px 0 5px 0;display:block; font-family: "Microsoft YaHei",Helvetica,Arial,"WenQuanYi Micro Hei";font-size: 0.6rem;}


/*tab*/
.extend_tab{border-bottom:.05rem solid #EFEFEF}
.extend_tab ul,.extend_tab ul>li{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box;width:100%;overflow:hidden}
.extend_tab ul>li{-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;-o-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;-ms-box-align:center;-o-box-align:center;box-align:center;text-align:center;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;float:none;margin:0}
.extend_tab li a{color:#4d4d4d;display:inline-block;padding:10px 0;font-size:16px;border-bottom:.1px solid #fff}
.extend_tab li.cur a{color:#ff7300;border-bottom:.1px solid #ff7300}
.extend_div{display:none;padding:15px}
/*item*/
.extend_img{width:100%}
.extend_desc{color:#666;padding:15px 5px;}
.app_btn{margin: 0;color:#fff;font-size:16px;height:35px;line-height:35px;z-index:9999;}
.extend-content .hr{ border-bottom: 1px solid #eee;margin: 15px 0;height: 0;}
.poster_num{display: none}

.posterInit{position: absolute;top: 0;left: 0; z-index: 999;    display: none;}
.posterInit img{    width: 100%;}
</style>
<div class="app-page app-page-friend" ng-controller="friendCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()" ></span>
			<div class="app_nav_head"><span class="app_nav_txt">参与推广</span></div>
		</h1>
	</div>
	<div class="app-content app-scrollable seo" style="padding-bottom: 0;">
	
        <div class="extend_tip"><span class="tip" ng-click="tip()">你可以把以下专属于你的推广海报保存到相册，并转发到朋友圈和微信群，即可获取积分和现金优惠卷。</span><br>
        <a href="#/friend_rank" class="extend_tip_a">点击查看由我推广的会员</a></div>
    
    <div id="extend">
        <div class="extend_tab">
            <ul>
                <li class="extend_tab_li cur"><a href="javascript:;">促销类</a></li>
                <li class="extend_tab_li"><a href="javascript:;">产品类</a></li>
                <li class="extend_tab_li"><a href="javascript:;">人物类</a></li>
                <li class="extend_tab_li"><a href="javascript:;">知识类</a></li>
            </ul>
        </div>
        <div class="extend-content">
            <div class="extend_div" style="display: block">
            <div ng-repeat="p in pList0" class="{{p.posterId}}">
            	<img class='extend_img' src='{{p.pic}}' ng-click="extendTmg(p.pic)"/>
            	<p class='extend_desc'>{{p.posterDesc}}</p>
            	<div class='app_btn save_img' ng-click="saveImg(p)">点击生成,截屏保存图片</div>
            	<div class='hr'></div>
            </div>
            </div>
            <div class="extend_div">
            <div ng-repeat="p in pList1" class="{{p.posterId}}">
            	<img class='extend_img' src='{{p.pic}}' ng-click="extendTmg(p.pic)"/>
            	<p class='extend_desc'>{{p.posterDesc}}</p>
            	<div class='app_btn save_img' ng-click="saveImg(p)">点击生成,截屏保存图片</div>
            	<div class='hr'></div>
            </div>
            </div>
            <div class="extend_div">
            <div ng-repeat="p in pList2" class="{{p.posterId}}">
            	<img class='extend_img' src='{{p.pic}}' ng-click="extendTmg(p.pic)"/>
            	<p class='extend_desc'>{{p.posterDesc}}</p>
            	<div class='app_btn save_img' ng-click="saveImg(p)">点击生成,截屏保存图片</div>
            	<div class='hr'></div>
            </div>
            </div>
            <div class="extend_div">
            <div ng-repeat="p in pList3" class="{{p.posterId}}">
            	<img class='extend_img' src='{{p.pic}}' ng-click="extendTmg(p.pic)"/>
            	<p class='extend_desc'>{{p.posterDesc}}</p>
            	<div class='app_btn save_img' ng-click="saveImg(p)">点击生成,截屏保存图片</div>
            	<div class='hr'></div>
            </div>
            </div>
        </div>
	</div>
       

        <div class="user_view">
        	<div style="text-align: center;font-size: 0.7rem;padding: 0.5rem 0;">我有朋友要购买</div>
        	<dl>
                <dt>
                <li class="fl"><span style="color:#FF0000">*</span>朋友姓名：</li>
                <li class="fr"><input type="text" class="user_view_input" ng-model="m.name"></li>
                </dt>
            </dl>
        	<dl>
                <dt>
                <li class="fl"><span style="color:#FF0000">*</span>朋友公司：</li>
                <li class="fr"><input type="text" class="user_view_input" ng-model="m.company"></li>
                </dt>
            </dl>
        	<dl>
                <dt>
                <li class="fl"><span style="color:#FF0000">*</span>朋友电话：</li>
                <li class="fr"><input type="text" class="user_view_input" ng-model="m.phone"></li>
                </dt>
            </dl>
        	<dl>
                <dt>
                <li class="fl"><span style="color:#FF0000">*</span>推荐人：</li>
                <li class="fr"><input type="text" class="user_view_input" ng-model="m.referee"></li>
                </dt>
            </dl>
			<textarea placeholder="说明..." ng-model="m.content"></textarea>
			
		</div>
		<div class="app_footer" ng-click="submit(m)" style="position: relative;">
			<div class="app-button app_btn app-button">推荐朋友</div>
		</div>
	</div>
	<div class="loading-modal" ng-show="loading == true">
    	<div class="loading">
        	<img src="http://www.jihui88.com/member/modules/mobile/mobileManagement/images/loading.gif" alt=""/><span ng-bind="loading_text">加载中</span>
    	</div>
	</div>
</div>
<div class="posterInit"><img src="http://www.jihui88.net/qrcode_poster/posters/poster_0000000000000000000000001.jpg"/></div>