<div class="app-page distributor" ng-controller="DistributorDataCtrl" >
    <div class="app_nav">
        <h1>
            <span class="icon app-button icon-left" onclick="location.href='#/'"></span>
			我的分销商
		</h1>
    </div>
    <div	 class="app-content">
        <div class="order_category">
			<ul>
				<li><a href="#/distributor"	class="cur order_category_li"><span class="iconfont icon-person2"></span>会员</a></li>
				<li  class="cur"><a href="#/distributor_data" class="order_category_li"><span class="iconfont icon-form"></span>数据</a></li>
				<li><a href="#/distributor_bouns"	class="cur order_category_li"><span class="iconfont icon-dingdan"></span>提现</a></li>
				<div class="clr"></div>
			</ul>
		</div>
		<hr>
		<div class="chaxun" style="text-align: center;padding: 1rem 0; font-size: 0.8rem;display:none">
	             <em class="icon icon-tishi"></em> 您还未开通微分销，无法查看数据<br> 咨询请联系：<a href="tel:4007111011">4007111011</a>
       </div> 
		<div class="dis-data-list">
           <dl class="dl" data-result="false" data-id="1">
                <dd class="title">
                    1、本月销售额排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                   <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">销售额</dd>
			            </dl>
			            <dl ng-repeat="dis in disList1">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                 </ul>
            </dl>
            <dl class="dl" data-result="false" data-id="2">
                <dd class="title">
                    2、本月佣金排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                     <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">佣金</dd>
			            </dl>
			            <dl ng-repeat="dis in disList2">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl>
             <dl class="dl" data-result="false" data-id="3">
                <dd class="title">
                    3、本月粉丝排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                     <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">数量</dd>
			            </dl>
			            <dl ng-repeat="dis in disList3">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl>
            <dl class="dl" data-result="false" data-id="4">
                <dd class="title">
                    4、上月销售额排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                    <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">销售额</dd>
			            </dl>
			            <dl ng-repeat="dis in disList4">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl>
            <dl class="dl" data-result="false" data-id="5">
                <dd class="title">
                    5、上月佣金排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                  <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">佣金</dd>
			            </dl>
			            <dl ng-repeat="dis in disList5">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl>
             <dl class="dl" data-result="false" data-id="6">
                <dd class="title">
                    6、上月粉丝排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                  <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">数量</dd>
			            </dl>
			            <dl ng-repeat="dis in disList6">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl>
           <dl class="dl" data-result="false" data-id="7">
                <dd class="title">
                    7、累计销售额排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                  <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">销售额</dd>
			            </dl>
			            <dl ng-repeat="dis in disList7">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl>
             <dl class="dl" data-result="false" data-id="8">
                <dd class="title">
                    8、累计佣金排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                  <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">佣金</dd>
			            </dl>
			            <dl ng-repeat="dis in disList8">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl>
             <dl class="dl" data-result="false" data-id="9">
                <dd class="title">
                   9、累计粉丝排行
                </dd>
                <div class="clr"></div>
                <ul class="dis-data-display">
                  <div class="item-list">
		            	<dl class="item-list-first">
			            	<dd class="item-row-1"></dd>
			            	<dd class="item-row-2">编号</dd>
			            	<dd class="item-row-5">昵称</dd>
			            	<dd class="item-row-2">数量</dd>
			            </dl>
			            <dl ng-repeat="dis in disList9">
			            	<dd class="item-row-1"><span>{{dis.dx}}</span></dd>
			            	<dd class="item-row-2">{{dis.dealer_id}}</dd>
			            	<dd class="item-row-5 ellipsis">{{dis.nickname}}</dd>
			            	<dd class="item-row-2">{{dis.count}}</dd>
			            </dl>
                     </div>
                </ul>
            </dl> 
        </div>

    </div>
</div>
<div ng-include="'modules/include/footer.html'"></div>