<script src="js/map/BMap.js"></script>
<div class="app-page" data-page="map" ng-controller="MapCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			<div class="app_nav_head">
				<span class="app_nav_txt">地图定位</span>
			</div>
		</h1>
	</div>
	<div class="app-content">
		<div style="padding: 0.5rem 1rem;" >
             <input type="text" value="" id="keyword" placeholder="请输入地区关键字" />
             <input type="button" name="" class="button" value="查询" ng-click="search()" />
        </div>
		<div style="width:100%;height:16rem;border:none" id="container"></div>
	</div>
	<div class="app_footer" ng-click="map()">
		<div class="app-button app_btn">确定</div>
	</div>
</div>