<div class="app-page" ng-controller="ProductCtrl"
	infinite-scroll='loadMore()' infinite-scroll-disabled='datas.busy'
	infinite-scroll-distance='1' data-page="product">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			<div class="app_nav_head app_nav_margin"
				ng-click="productSearch=false;productSl(productSelect)">
				<span class="app_nav_txt">全部产品</span>
				<em class="icon icon-xiala icon-small"></em>
				<div ng-class="{true: '', false: 'search'}[productSelect]">
					<div class="product_category_select" style="display: block;">
						<ul>
							<!-- <li  ng-click="search(0,0,0)">全部产品</li> -->
							<li ng-repeat="category in cat" ng-click="search(category.id,category.name,0)">{{category.name}}
							<li>
						</ul>
					</div>
					<div class="pro-mask"></div>
				</div>
			</div>
			<span class="button-search icon icon-sousuo"
				ng-click="productSearch=!productSearch;productSelect=false"></span>
		</h1>
		<div class="search_style" ng-class="productSearch==true?' ':'search'"
			ng-init="productSearch=false">
			<form ng-submit="productSearch=false;search(pName,0,1)">
				<input type="text" ng-model="pName" class="input-small"
					placeholder="请输入产品名称" maxlength="10"> <input type="submit"
					class="search-product icon" value="&#xe630;">
			</form>

		</div>
        <div class="search-mask"></div>
	</div>

	<div class="app-content">
		<div class="pro-list item-list" ng-repeat="product in productList">
			<dl ng-class="product.showSub==1?'show':''" >
				<dt>
					<img src="http://img.jihui88.com/{{product.picPath}}" />
				</dt>
				<dd>
					{{product.name}}<span class="renqi">人气:&nbsp;{{product.viewsum}}</span>
				</dd>
				<dd ng-if="productVersions" class="pro_totel">￥{{product.price==null?'0':product.price}}元</dd>
				<a href="javascript:;" class="icon pro_btn icon-yuanxingjiantouxia"
					ng-click="show(product)"> </a>
				<div class="clr"></div>
				<ul class="pro_display">
				<li ng-click="productIsDisplay(product)"
						class="{{product.isdisplay==1?'chengse_txt':''}}"><a
						href="javascript:;"> <em class="icon icon-yincang"></em> <span>
								{{product.isdisplay==1?'已显示':'已隐藏'}} </span>
					</a></li>
					<li><a href="javascript:;" class="app-button"
						ng-click="productUpdate(product.productId)"> <em class="icon icon-xiugai"></em> 修改 </span>
					</a></li>
					<li ng-click="productDelete(product.productId)"><a
						href="javascript:;"> <em class="icon icon-lajixiang"></em> <span>
								删除 </span>
					</a></li>
				</ul>
			</dl>
		</div>
	</div>
	<div class="app_footer">
		<div class="app-button app_btn_left" ng-click="add()">发布产品</div>
		<div class="app-button app_btn_right" onclick="location.href='#/product/category/list'">分类管理</div>
	</div>
</div>
