<style>
.detail {
    padding: 0;
}
</style>
<div class="app-page" data-page="product_detail" ng-controller="productIdCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			产品修改
		</h1>
	</div>
	<div class="app-content">
	<div>
  <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
    <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">基本信息</a></li>
    <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2">商城属性</a></li>
  </ul>
  <div class="tab-content tab-bordered">
    <div class="tab-panel" ng-show="vm.activeTab == 1">
         <div class="pro_detail detail">
			<div class="detail_title detail_margin">
				产品名称:
				<input type="text" ng-model="product.name" placeholder="产品名称"/>
			</div>
			<div class="detail_model detail_margin">
			产品型号:
				<input type="text" ng-model="product.prodtype" placeholder="产品型号"/>
			</div>
			<div class="detail_category detail_margin">
			所在分类：
				<select ng-model="categorySelect"
					ng-options="category.categoryId as category.name for category in categoryList">
				</select>
			</div>
			<div class="detail_model detail_margin  cert-img">
			产品图片:<br>
				<img class="fileupload " src="http://img.jihui88.com/{{product.picPath}}" ng-model="product.picPath" > 
				<div style="display:none">   <input id="fileupload" type="file" name="Filedata"  multiple>
			</div>
		</div>
    </div>
	</div>
    <div class="tab-panel" ng-show="vm.activeTab == 2">
        <div class="pro_detail detail">
          <div ng-if="productVersions" class="detail_margin"
				ng-init="weightunits=[{value:'g',name:'克'},{value:'kg',name:'千克'},{value:'t',name:'吨'}]">
				商品重量：<input type="text" ng-model="product.weight" class="detail_input">
				<select class="detail_select fr" ng-model="product.weightunit"
					ng-options="w.value as w.name for w in  weightunits">
				</select>
			</div>
			<div ng-if="productVersions" class="detail_margin">
				商品原价：<input type="text" ng-model="product.marketprice" class="detail_input">
				<select class="detail_select fr nobg"  disabled>
					<option>元</option>
				</select>
			</div>
			<div ng-if="productVersions" class="detail_margin">
				促销特价：<input type="text" ng-model="product.price" class="detail_input">
				<select class="detail_select fr nobg"  disabled>
					<option>元</option>
				</select>
			</div>
			<div ng-if="productVersions" class="detail_margin">
				商品库存：<input type="text" ng-model="product.store" class="detail_input">
			</div>
		</div>	
    </div>
  </div>
</div>
	<div  class="app_footer" ng-click="update(categorySelect)">
		<div class="app-button app_btn">确定</div>
	</div>
	<input type="checkbox" ng-model="loading" class="loading_click" ng-hide="true"/>
	<div class="loading-modal modal" ng-if="loading" >
    <div class="loading">
        <img src="http://www.jihui88.com/member/modules/mobile/mobileManagement/images/loading.gif" alt=""/><span ng-bind="loading_text"></span>
    </div>
</div>
</div>