<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>SSR Web Application</display-name>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<!-- session的filter -->
	<!-- <filter>
		<display-name>MemcachedSessionFilter</display-name>
		<filter-name>MemcachedSessionFilter</filter-name>
		<filter-class>com.jihui88.frame.core.session.MemcachedSessionFilter</filter-class>
		<init-param>
			<param-name>sessionId</param-name>
			<param-value>sid</param-value>
		</init-param>
		<init-param>
			<param-name>cookieDomain</param-name>
			<param-value>.jihui88.com</param-value>
		</init-param>
		<init-param>
			<param-name>cookiePath</param-name>
			<param-value>/</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MemcachedSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-config.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<!--读取配置文件的servlet -->
	<servlet>
		<description>Reading config files</description>
		<display-name>Config Servlet</display-name>
		<servlet-name>ConfServlet</servlet-name>
		<servlet-class>com.jihui88.frame.core.servlet.ConfServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>random</servlet-name>
		<servlet-class>com.jihui88.frame.core.servlet.RandomCodeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>random</servlet-name>
		<url-pattern>/random</url-pattern>
	</servlet-mapping>
	
	<filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
<listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
</listener>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>