<div class="app-page page-background"  ng-controller="BindCtrl" infinite-scroll='loadMore()' infinite-scroll-disabled='datas.busy' infinite-scroll-distance='1' >
	<div class="app_nav">
		<h1>
			<div class="app_nav_head">
				<span class="icon app-button icon-left" ng-click="$back()"></span>
				<span class="app_nav_txt">域名绑定</span>
			</div>
		</h1>
	</div>

	<div class="app-content">	
		<div class=" item-list">
		    <dl>
		        <dd class="item-row-4">域名</dd>
		        <dd class="item-row-2">绑定类型</dd>
		        <dd class="item-row-2">状态</dd>
		        <dd class="item-row-2">操作</dd>
		    </dl>
			<dl ng-repeat="bind in bindList">
		        <dd class="item-row-4">	{{bind.address}}</dd>
		        <dd class="item-row-2">{{bind.type}}</dd>
		        <dd class="item-row-2 {{bind.color}}"> {{bind.state}} </dd>
		        <dd class="item-row-2"><a href="javascript:;" class="icon pro_btn icon-lajixiang"
					ng-click="bindDelete(bind.bindId)" alt="删除"> </a></dd>
			</dl>
		</div>
	</div>
	<div class="app_footer">
		<div class="app-button app_btn" ng-click="addL()">添加域名</div>
	</div>
</div>