<!-- 流量统计 -->
<div class="app-page" data-page="visit" style="">
        <div class="app_nav visit_title">
            <h1><span class="icon app-button icon-left" ng-click="$back()" data-clickable-class="active" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);"></span>                         流量统计<span class="font_12">(您的查看密码为:123456)</span>
            </h1>
        </div>
        <div class="app-content app-scrollable" style="height: 623px; overflow: scroll;">
            <iframe src="http://mt.cnzz.com/login.php?siteid=5820852" class="visit" frameborder="0"></iframe>
        </div>
 </div>