<style>
.sp_title{background:#f5f5f5;padding:.4rem .5rem;color:#000;font-weight:600;font-size:.55rem}
/*item*/
.progress section{    
	padding: 0.5rem;
	color:#666;
	line-height: 1rem;
}
.progress .item-list dd {
    line-height: 0.9rem;
    padding: .4rem .2rem .4rem .5rem;
}
.progress .item-list .item-row-1{
    width: 25%;
}
.progress .item-list .item-row-5{
    width: 55%;
}
.app_nav h1{
padding: 0 1.5rem;
}
</style>
<div class="app-page" ng-controller="ServiceProgressDCtrl">
	<div class="app_nav">
		<h1 class="ellipsis">
			<span class="icon app-button icon-left" ng-click="$back()" data-clickable-class="active" ></span>{{title}}
		</h1>
	</div>
	<div class="app-content app-scrollable progress">
			<div class="sp_title">描述</div>
        	<section class="section" ng-bind-html="desc|htmlContent">
        		
        	</section>
			 <div class="sp_title">处理结果</div>
        	<section class="section">
        		{{result}}
        	</section>
			 <div class="sp_title">处理过程</div>
			 <div class="item-list">
			 <dl class="member_list_first">
			    <dd class="item-row-1">处理时间</dd>
				<dd class="item-row-2">姓名</dd>
				<dd class="item-row-5">处理过程</dd>
			</dl>
			<div class="tab-panel">
			  	<dl ng-repeat="ps in list">
			 		<dd class="item-row-1">{{ps.deal_time | date : 'yyyy-MM-dd'}}</dd>
					<dd class="ellipsis item-row-2">{{ps.emp_name}}</dd>
					<dd class="item-row-5">{{ps.deal_result}}</dd>
				</dl>
			  	<div class="loadData1 loadData">数据加载中...</div>
			</div>
			</div>
	</div>
</div>