<div class="app-page" data-page="home" ng-controller="mainCtrl" ng-init="mName=false;mVersions=false;mEndTime=false">
<div style="overflow: hidden;position: relative;">
<a class="f39dsk" href="http://app.jihui88.com/download.html" >
    <b class="m48"><img src="http://img.easthardware.com/upload/j/j2/jihui/picture/2015/12/08/9df67a15-7379-4374-b575-3fb6f55efa02.png" alt=""></b>
    <span>机汇网后台管理APP</span>
    <b class="n48-dl">立即安装</b>
</a>
	<div class="f39dsk-close" ng-click="fClose()"><span>X</span></div>
	<div class="main">
		<div class="user">
			<div class="user-msg">
				<div class="user_logo fl app-button" onclick="location.href='#/enterprise'">
					<img ng-src="{{logo}}"  onerror="javascript:this.src='http://img.jihui88.com/upload/j/j2/jihui/picture/2015/12/04/cb46a5be-9960-4c96-a463-895e7948c415.png'">
					<div class="user_tips">编辑</div>
				</div>
				<div class="user_name fl baise op">
					<p ng-if="mName==false?'true':'false'">&nbsp;</p>
					<p ng-if="mVersions==false?'true':'false'">&nbsp;</p>
					<p ng-if="mName==false?'true':'false'">&nbsp;</p>
					<p ng-if="mName">{{name}}&nbsp;,您好！！</p>
					<p ng-if="mVersions">当前版本：{{versions}}</p>
					<p ng-if="mEndTime">到期时间：<a class="" href="javascript:;" ng-class="{true:'red',false:''}[endTimeTag]" ng-click="goPage()">{{endTime}}</a></p>
					<p>服务热线：<a href="tel:4007111011">400-7111-011</a></p>
				</div>
				<div ng-click="setting()" class="icon icon-circularset index_shezhi app-button"></div>
			</div>
			<div class="status">
				<ul>
					<li onclick="location.href='#/order/buyerPayment'" 	class="app-button">
				      	<span class="status_num" >{{unpaid}}</span><span class="status_txt">待付款</span>
					</li>
					<li onclick="location.href='#/order/awaitS'" class="app-button" >
						<span class="status_num op">{{unshipped}} </span> <span class="status_txt">待发货</span>
					</li>
					<li onclick="location.href='#/order/delivery'" class="app-button" >
						<span class="status_num"> {{shipped}} </span><span class="status_txt">待收货</span>
					</li>
					<li onclick="location.href='#/message/list?recvState=00'" class="app-button">
					    <span class="status_num">{{unread}} </span><span class="status_txt">未读询盘</span>
					 </li>
				</ul>

			<div class="label-act">
			     <a href="#/order/list">
			      <div class="ico"><p class="ico-cont"><span class="icon-form"></span></p></div>
			      <div class="title"><h1>已卖出的货品</h1></div>
			       <div class="sub">全部订单</div>
			       <div class="arrow"><span class="iconfont icon-more"></span></div>
			       </a>
			   </div>
			</div>
		</div>
		<hr>
		<div class="wap-app">
		      <ul class="applist">
				<li onclick="location.href='#/data'" class="item app-button">
					<em class="icon lvse icon-tongji"></em><span class="txt">商城数据 </span>
				</li>
				 <li ng-click="weiWz()" class="item">
                    <em class="icon shenlan icon-weiwangzhan"></em><span class="txt ellipsis">微网站</span>
                </li>
				<li onclick="location.href='#/wcd'" class="item app-button" >
                      <em class="icon orange icon-weizhan"></em><span class="txt ellipsis">微传单</span>
				</li>
				<li onclick="location.href='#/distributor'" class="item app-button ellipsis" >
                      <em class="icon shenlan icon-fenxiao"></em><span class="txt">微分销</span>
				</li>
			</ul>
			<ul class="applist">
				<li onclick="location.href='#/member/list'" class="item app-button">
					<em class="icon lanse icon-huiyuan"></em><span class="txt">会员管理</span>
				</li>
                <li onclick="location.href='#/video'" class="item app-button" >
                    <em class="icon orange icon-shipin"></em><span class="txt">视频教程</span>
                </li>
                <li onclick="location.href='#/cnzz'" class="item app-button" >
                    <em class="icon shenlan icon-fenxi"></em><span class="txt">流量分析</span>
                </li>
                <li onclick="location.href='#/seo'" class="item app-button" >
                    <em class="icon shenlv icon-seo"></em><span class="txt">SEO帮助</span>
                </li>
			</ul>
			<ul class="applist">
				<li onclick="location.href='#/serivepay'" class="item app-button">
                    <em class="icon hongse icon-jiaofei"></em><span class="txt">服务缴费</span>
                </li>
				 <li onclick="location.href='#/progress'" class="item app-button">
                      <em class="icon shenlan icon-f12"></em><span class="txt">服务进度</span>
				</li>
				 <!-- <li onclick="location.href='#/sale'" class="item app-button">
                      <em class="icon lvse icon-xinwen"></em><span class="txt">促销活动</span>
				</li> -->
				 <li onclick="location.href='#/point'" class="item app-button">
                      <em class="icon lvse icon-xinwen"></em><span class="txt">我的积分</span>
				 </li>
				 <li onclick="location.href='#/friend'" class="item app-button">
                      <em class="icon chengse icon-pengyou"></em><span class="txt">参与推广</span>
				</li>
			</ul>
		</div><hr/>
	</div>
	<div ng-include="'modules/include/footer.html'"></div>
</div>
