<div class="app-page" data-page="password" ng-controller="passwordCtrl" >
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			<div class="app_nav_head">
				<span class="app_nav_txt">修改密码</span>
			</div>
		</h1>
	</div>
	<div class="app-content">
		<div class="app_shezhi detail" >
				当前密码：<input type="password" ng-model="oldPs"  placeholder="输入当前密码" maxlength="16" ><br>
				　新密码：<input type="password" placeholder="输入新密码" ng-model="newPs" maxlength="16"><br>
				 确认密码：<input type="password" placeholder="确认新密码" ng-model="againPs" maxlength="16">
			</div>
	</div>
	<div class="app_footer" >
		<div class="app-button app_btn app-button" data-target="home"
			ng-click="savePassword(oldPs,newPs,againPs)">确定
		</div>
	</div>
</div>