<!-- 意见反馈 -->
<div class="app-page" data-page="feedback" style=""
	ng-controller="FeedBackCtrl" infinite-scroll='loadMore()' infinite-scroll-disabled='datas.busy'
	infinite-scroll-distance='1' ng-init="messageShow=true">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"
				data-clickable-class="active"
				style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0);"></span>
			意见反馈
		</h1>
	</div>
	<div class="app-content app-scrollable">
		<div class="feedback_input">
			<textarea placeholder="请告诉我们您的意见和建议，帮助我们改进和提高" ng-model="content">{{content}}</textarea>
			<input type="submit" ng-click="saveFeedBack(content)" value="送出">
		</div>
	 <div class="feedback_message" ng-hide="messageShow">
            <div class="feedback_list"   ng-repeat="message in messageList">
                <div class="feed_sub">
                    <dl class="feed_title">
                        <span class="font_14">我的反馈信息：</span><span class="feed_time">{{message.addTime}}</span>
                    </dl>
                    <dl class="feed_text">{{message.content}}</dl>

                </div>
                  <div class="feed_reply" ng-hide="{{message.recvState=='01'?'false':'true'}}">
                    <dl class="feed_title">
                        <span class="font_14">客服回复：</span><span class="feed_time">{{message.replyTime}}</span>
                    </dl>
                    <dl class="feed_text">
                        {{message.replyContent}}
                    </dl>
                </div>
            </div>
        </div>
	</div>
</div>
<div ng-include="'modules/include/footer.html'"></div>