<style>
.sp_title{padding:.4rem .5rem;color:#000;font-weight:600;border-bottom:1px solid #ededed}
.label-act{height:2.5rem;line-height: 1rem;}
.app_btn{color:#fff;font-size:.8rem;margin:2.5rem 0 0.5rem 0;height:1.8rem;line-height:1.8rem}
.mp-title{width:2.7rem;text-align:right;padding-right:10px}
.toggle{margin:auto 0;padding:0;width:1.1rem;-webkit-appearance:none;outline:0;appearance:none;border:none}
.label-act .toggle:before{content:"\e662"}
.label-act .toggle.checked:before{content:"\e64c"}

.pay-bg{opacity: 0.7;width: 100%;height: 100%;    z-index: 9999;
    position: fixed;
    top: 0;
background:#000;display:none}
#buyImg{
width: 92%;max-height: 90%;overflow: hidden;background-color: white;opacity: 1;position: fixed;top: 5%;z-index: 10000;transition: all .3s ease;left: 4%;padding: 0;border-radius: 0.2rem; box-shadow: 1px 1px 1px #eee;
display:none}
#buyImg img{
width:100%}
</style>
<div class="app-page" ng-controller="MyPayCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"
				data-clickable-class="active"></span> 我的缴费
		</h1>
	</div>
	<div class="app-content app-scrollable">
		<section class="section">
			<div class="label-act">
				<a href="javascript:;">
					<div class="sub">
						<div class="mp-title">用户名:</div><span>{{username}}</span>
					</div>
				</a>
			</div>
			<div class="label-act">
				<a href="javascript:;">
					<div class="sub">
						<div class="mp-title">实缴金额:</div><span class="red">￥{{sum}}</span>
					</div>
				</a>
			</div>
		</section>
		<hr>
		<section class="section">
			<div class="sp_title">支付方式</div>
			<div class="label-act">
				<a href="javascript:;" ng-click="selectPay(0,$event)">
					<div class="sub">
					   	<i class="toggle icon"></i>
					   	<span class="icon-zhifubao icon" style="padding: 0 0.5rem;color: #47a8ef;font-size: 1.2rem;"></span> 
					   <div style="color: #333;">支付宝<br><span style="color:#999;font-size:0.5rem">使用支付宝账号支付</span></div>
					</div>
				</a>
			</div>
			<div class="label-act">
				<a href="javascript:;" ng-click="selectPay(1,$event)">
					<div class="sub">
					<i class="toggle icon"></i>
					    <span class="icon-weixin icon" style="padding: 0 0.5rem;color: #01A000;font-size: 1.2rem;"></span> 
					   <div style="color: #333;">微信支付<br><span style="color:#999;font-size:0.5rem">使用微信账号支付</span></div>
					</div>
				</a>
			</div>
			<div class="label-act">
				<a href="javascript:;" ng-click="selectPay(2,$event)">
					<div class="sub">
					<i class="toggle icon"></i>
					   <img src="http://www.allinpay.com/templates/default/images/logo.gif" alt="通联支付" style="padding: 0.2rem 0.5rem;width: 3.5rem">
					   <div style="color: #333;">银行卡支付<br><span style="color:#999;font-size:0.5rem">支持开通网银的储蓄卡 信用卡支付</span></div>
					</div>
				</a>
			</div>
			<div class="label-act label-act-3">
				<a href="javascript:;" ng-click="selectPay(3,$event)">
					<div class="sub">
					<i class="toggle icon"></i>
					   <span class="icon-jiaofei icon" style="padding: 0 0.5rem;color: #ff0000;font-size: 1.2rem;"></span> 
					   <div style="color: #333; padding: 0.3rem 0;">手动支付<br>
					   <span style="color:#999;font-size:0.5rem">开户行： 中国工商银行杭州市开元支行
					   <br><div class="payUn" style="display:none">公司名称： 浙江机汇网络科技有限公司<br>支付账号： 1202021509900658919</div></span></div>
					</div>
				</a>
			</div>
		</section>
		<div class="app-button app_btn" ng-click="pay()">付款</div>
		<form name="alipayment" action="http://www.jihui88.com/pay/websiteRenew/alipayapi.jsp" method="post" id="payform">
						<input  type="hidden"  name="WIDout_trade_no" value="{{renew.id}}"/>
						<input  type="hidden"  name="WIDsubject" value="{{renew.name}}"/>
						<input  type="hidden"  name="WIDtotal_fee" value="{{renew.money}}"/>
						<input  type="hidden"  name="WIDshow_url" value="http://"/>
						<input  type="hidden"  name="WIDbody" value="{{renew.orderSn}}"/>
						<input type="hidden" name="_input_charset" value="utf-8"/>
		</form>
	</div>
<div class="pay-bg" ng-click="bgNone()"></div>

<div id="buyImg" class="buyImg1">
<img src="css/img/zhifubao.jpg">
</div>
<div id="buyImg" class="buyImg2">
<img src="css/img/weixin.jpg">
</div>
</div>