<div class="app-page" ng-controller="receiptCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()" data-clickable-class="active" ></span>开具发票
		</h1>
	</div>
	<div class="app-content app-scrollable">
			<div class="receipt_input detail">
            		<select >
                		<option value="增值税普通发票" selected>增值税普通发票</option>
          			  </select>
          		<input type="text" placeholder="公司名称" ng-model="title" />
            	<input type="tel" placeholder="银行帐号" ng-model="account" maxlength="19"/>
            	<input type="text" placeholder="开户银行" ng-model="openAccount"/>
            	<input type="tel" placeholder="税号" ng-model="tfn"/>
            	<input type="text" placeholder="公司地址" ng-model="address"/>
            	<input type="text" placeholder="公司电话" ng-model="phone"/>
           		<input type="text" placeholder="备注信息，如产品、金额" ng-model="rests"/>
			</div>
      	<div class="app_footer" >
			<div class="app-button app_btn" ng-click="save(title,account,openAccount,tfn,address,phone,rests)">确定</div>
		</div>
	</div>
</div>