<style>
.btn-info{color:#36f;font-size: 0.5rem;line-height: 1rem;}
</style>
<div class="app-page" data-page="red_shield" ng-controller="RedShieldCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			<div class="app_nav_head">
				<span class="app_nav_txt">工商红盾</span>
			</div>
		</h1>
	</div>

	<div class="app-content">
		<ul class="nav nav-tabs" ng-init="vm.activeTab=1">
    		<li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">工商红盾申请</a></li>
    		<li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2">输入代码</a></li>
  		</ul>
  		<div class="tab-content tab-bordered">
    		<div class="tab-panel" ng-show="vm.activeTab == 1">
        		<div class="tab_detail">
					<div class="detail_model detail_margin">
						<span class="btn-info">
						<p style="color: #f60;">【注】在PC上注册http://zjnet.zjaic.gov.cn/sign/addSignOnline.action</p>
						操作成功后请保存以下信息
						</span>
					</div>

					<div class="detail_model detail_margin">
						企业名称(个体工商户名称):
						<input type="text" ng-model="enterprise.name" placeholder="企业名称"/>
					</div>
					<div class="detail_model detail_margin">
						注册号:
						<input type="text" ng-model="enterprise.certNumber" placeholder="注册号"/>
					</div>
					<div class="detail_model detail_margin">
						网址:
						<input type="text" ng-model="user.url" placeholder="网址"/>
					</div>
					<div class="detail_model detail_margin">
						管理员/联系人:
						<input type="text" ng-model="principal.name" placeholder="管理员/联系人"/>
					</div>
					<div class="detail_model detail_margin">
						管理员/联系人Email:
						<input type="text" ng-model="principal.email" placeholder="管理员/联系人Email"/>
					</div>
    			</div>
			</div>
    		<div class="tab-panel" ng-show="vm.activeTab == 2">
				<div class="detail_model detail_margin">
					<span class="btn-info-span"><p style="color: #f60;">【注】本代码从工商红盾网站里的“获取代码”按钮处获取</p></span>
				</div>
        		<div class="tab_detail">
          			<textarea placeholder="请输入工商红盾代码" ng-model="enterprise.gsbsZym" style="width: 100%;height: 8rem;"></textarea>
				</div>
    		</div>
    		<div class="tab-panel" ng-show="vm.activeTab == 3">
        		<div class="tab_detail">
          			<a href="" ng-click="navigationPage()" style="text-align: center;display: block;padding: 1.5rem 0;">点击静态化页面</a>
				</div>
    		</div>
  		</div>
	</div>
	<div class="app_footer" ng-click="update()">
		<div class="app-button app_btn">确定</div>
	</div>
</div>
