<style>
.d_span{width:3rem;display: inline-block;}
.order_detail_h3{padding: 0.5rem; margin-bottom: 0.3rem;}
.de-list{      
	padding: 0 0.8rem;
    color: #666;
    line-height: 1rem;
}
.de-item{
    border-top: 1px solid #eee;
    padding: 0.1rem 0;
}
.de-item.active{
	border-top:none;
	color:#ff7300
}
.time{
font-size:0.6rem;
color:#999
}
</style>
<div class="app-page" data-page="order_detail_flase" ng-controller="deliveryDCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			物流信息
		</h1>
	</div>
	<div class="app-content app-scrollable">
		<div class="order_detail" style="line-height: 1rem;">
			<div class="order_detail_header">
				<div class="order_detail_title">
					<span class="d_span">物流状态</span>：<span class="orange">{{status}}</span>
					<div style="color:#999;font-size: 0.6rem;"><span class="d_span">物流公司</span>：{{o.deliveryCorpName}}<br/>
					<span class="d_span">运单号</span>：{{o.deliverySn}}</div>
				</div>
				<div class="order_detail_state">
					{{o.productName}}
				</div>
			</div>
		</div>
		<hr/>
		<section class="section"> 
		<h3 class="order_detail_h3">物流跟踪</h3>
		<div ng-repeat="d in list" class="de-list">
               <div class="de-item">
			       <div class="sub">{{d.context}}<br/><span class="time">{{d.time}}</span></div> 
			   </div>
		</div>
		<div class="tip" style="text-align: center;display:none;padding: 1rem 0;">暂时无物流信息!</div>
		</section>
	</div>
</div>