
<style>
@-webkit-keyframes shake
{
	0%
	{
		top:calc(100% - 3.19rem);
	}
	60%
	{
		top:calc(100% - 2.66rem);
	}
	100%
	{
		top:calc(100% - 3.19rem);
	}
}
@-moz-keyframes shake
{
	0%
	{
		top:calc(100% - 3.19rem);
	}
	60%
	{
		top:calc(100% - 2.66rem);
	}
	100%
	{
		top:calc(100% - 3.19rem);
	}
}
@keyframes shake
{
	0%
	{
		top:calc(100% - 3.19rem);
	}
	60%
	{
		top:calc(100% - 2.66rem);
	}
	100%
	{
		top:calc(100% - 3.19rem);
	}
}
#page{ position:absolute;width:100%;height:100%; overflow:hidden; left:0;top:0;}
#wrap{    width: 100%;
    position: relative;
    overflow: hidden;}
#wrap li{   transition: 1s;background-size: contain; background-position: center;    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;background-repeat:no-repeat;box-sizing:border-box; float:left; width:33.33%;height:5.33rem;}
#wrap li.show{opacity:1;}
</style>
<div class="app-page"  ng-controller="AlbumCtrl" 	infinite-scroll='loadMore()' infinite-scroll-disabled='busy'
	infinite-scroll-distance='1' data-page="album">
    <div class="app_nav">
        <h1>
            <span class="icon app-button icon-left" ng-click="$back()" ></span>
			<div class="app_nav_head app_nav_margin" ng-click="selectCategory()">
				<span class="app_nav_txt">相册</span> 
				<em class="icon icon-xiala icon-small"></em>
		     	<div ng-class="{true: '', false: 'search'}[category]"> 
					<div class="product_category_select" style="display: block;">
						<ul>
							<li ng-repeat="category in CategoryList" ng-click="search(category.albumId,category.name,1)">{{category.name}}
							<li>
						</ul> 
                    <div class="pro-mask"></div>
				</div>
			</div>
        </h1>
    </div>
    <div	 class="app-content" >
        <ul id="wrap" class="warp">
            <li ng-repeat="photo in photoList" style="background-image: url(http://img.jihui88.com/{{photo.serverPath}})"></li>
        </ul>
        <div ng-show='busy' class="loadData">数据加载中...</div>
    </div>
</div>
