<style>
.item-list .item-row-3 {
   padding-left:0;
}
</style>
<div class="app-page distributor" ng-controller="DistributorCtrl" 
	infinite-scroll='loadMore()' infinite-scroll-disabled='busy'	infinite-scroll-distance='1'>
    <div class="app_nav">
        <h1>
          <span class="icon app-button icon-left" onclick="location.href='#/'"></span>
			我的分销商
			<span class="button-search icon icon-sousuo" ng-click="infoSearch=!infoSearch;"></span>
		</h1>
		<div class="search_style" ng-class="infoSearch==true?' ':'search'" ng-info="infoSearch=false">
			<form ng-submit="infoSearch=false;search(1,name)">
				<input type="text" ng-model="name" class="input-small" placeholder="请输入用户名" maxlength="10"> 
				<input type="submit" class="search-product icon" value="&#xe630;">
			</form>
		</div>
        <div class="search-mask" ng-click="infoSearch=!infoSearch;"  ng-class="infoSearch==true?' block':''"></div>
    </div>
    <div	 class="app-content">
        <div class="order_category">
			<ul>
				<li class="cur"><a href="#/distributor"	class="cur order_category_li"><span class="iconfont icon-person2"></span>会员</a></li>
				<li><a href="#/distributor_data" class="order_category_li"><span class="iconfont icon-form"></span>数据</a></li>
				<li><a href="#/distributor_bouns"	class="cur order_category_li"><span class="iconfont icon-dingdan"></span>提现</a></li> 
				<div class="clr"></div>
			</ul>
		</div>
			<hr>
        <div class="item-list member-list">
			<dl class="item-list-first">
				<dd class="item-row-7">会员信息</dd>
				<dd class="item-row-3">分销信息</dd>
			</dl>
		    <dl ng-repeat="dis in disList">
				<dd class="item-row-7">
				    <div class="left userImg">
				       <img src="{{dis.headimgurl}}">
				    </div>
					<div class="left userinfo">
					        <p>No.&nbsp;{{dis.dealer_id}}</p>
                            <p><span>昵称：</span>{{dis.nickname}}</p>
                            <p><span>地区：</span>{{dis.location}}</p>
                            <p><span>推荐：</span>{{dis.p_nickname}}</p> <p>.&nbsp;</p>
                      </div>
                      <br>
                      <p class="clr"><span>关注：</span>{{dis.join_time}}</p>
				</dd>
				<dd class="item-row-3">
                     <div class=" distributorinfo">
                            <p><span>{{dis.dealer_arr[0].dealer_name}}：</span>{{dis.dealer_arr[0].all}}人</p>
                            <p><span>	{{dis.dealer_arr[1].dealer_name}}：</span>{{dis.dealer_arr[1].all}}人</p>
                            <p><span>{{dis.dealer_arr[2].dealer_name}}：</span>{{dis.dealer_arr[2].all}}人</p>
                            <p><span>订单数：</span>{{dis.sales_count}}</p>
                            <p><span>销售额：</span>￥{{dis.sales_sum}}</p>
                            <p><span>总佣金：</span>￥{{dis.bouns_sum}}</p>
                      </div>
                </dd>
			  </dl>
			<div class="chaxun" style="text-align: center;padding: 1rem 0; font-size: 0.8rem;display:none">
	             <em class="icon icon-tishi"></em> 您还未开通微分销，无法查看数据<br> 咨询请联系：<a href="tel:4007111011">4007111011</a>
             </div> 
			<div ng-show='busy' class="loadData">数据加载中...</div>
		</div>
    </div>
</div>
<div ng-include="'modules/include/footer.html'"></div>