<style>
.order_category ul{width:100%}.order_category ul,.order_category ul>li{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;display:box}
.order_category ul>li{-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;-o-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;-ms-box-align:center;-o-box-align:center;box-align:center;text-align:center;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;float:none;margin:0}
</style>
<div class="app-page" ng-controller="WcdCtrl" 
	infinite-scroll='loadMore()' infinite-scroll-disabled='busy'
	infinite-scroll-distance='1' data-page="album">
    <div class="app_nav">
        <h1>
          <span class="icon app-button icon-left" onclick="location.href='#/'"></span>
			我的微传单
		</h1>
    </div>
    <div	 class="app-content">
        <div class="order_category">
			<ul>
				<li class="cur"><a href="#/wcd"	class="cur order_category_li">我的微传单</a></li>
				<li><a href="#/wcd_vip" class="order_category_li">VIP专属</a></li>
				<li><a href="#/wcd_case" class="order_category_li">案例展示</a></li>
				<div class="clr"></div>
			</ul>
		</div>
			<hr>
			<div style="font-size: 0.5rem;padding: 0 0.5rem 0.3rem 0.5rem;background: #f5f5f5;">[注]: Android最新版 点击标题右边图标,显示二维码,长按即可分享到微信</div>
        <div class="item-list wcd-list">
		    <dl ng-repeat="wcd in wcdList">
				<dd class="item-row-5 item-{{wcd.id}}">
					<a href="javascript:;" ng-click="open(wcd.id)"> 
				        <img class="android-share" ng-src="{{wcd.sharepic}}" title="{{wcd.seo_title}}" data-id="{{wcd.id}}">
					</a>     
				    <img src="http://wcd.jihui88.com/rest/comm/qrbar/create?w=158&amp;text=http://www.jihui88.com/wcd/html/{{wcd.id}}.html&title={{wcd.seo_title}}&pic={{wcd.sharepic}}" alt="" class="shareQr">
					   	<div class="wcd-info">
                            <p class="ellipsis">{{wcd.seo_title}}</p>
                            <p class="info"><span class="iconfont icon-xianshi"></span>{{wcd.views}}
                            <span class="iconfont icon-liuyan"></span>{{wcd.mviews}}
                            <span class="iconfont icon-fenxiang"></span>{{wcd.rviews}}</p>
                            <div class="iconfont icon-qrcode" ng-click="shareClick(wcd.id)"></div>
                         </div>
			 	</dd>
			  </dl>
			  
			<div ng-show='busy' class="loading">数据加载中...</div>
		</div>
		<div class="tip" style="text-align: center;line-height: 1.2rem;padding-top: 3rem;display:none">
		在电脑端输入网址<br/><span style="color:#999">http://wcd.jihui88.com/leaflet/index.html</span><br/>登录即可免费创建微传单
    	</div>
    </div>
</div>
<div ng-include="'modules/include/footer.html'"></div>