<div class="app-page" ng-controller="ContactCtrl"
	infinite-scroll='loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' >
	<div class="app_nav">
	  <h1>
            <span class="icon app-button icon-left" ng-click="$back()" ></span>
			<div class="app_nav_head app_nav_margin" ng-click="selectCategory()">
				<span class="app_nav_txt">企业联系人</span> 
			</div>
			<span class="button-search icon icon-sousuo" ng-click="certSearch=!certSearch;certSelect=false"></span>
		</h1>
		<div class="search_style" ng-class="certSearch==true?' ':'search'" ng-init="certSearch=false">
			<form ng-submit="certSearch=false;search(1,name)">
				<input type="text" ng-model="name" class="input-small"
					placeholder="请输入姓名" maxlength="10"> <input type="submit"
					class="search-product icon" value="&#xe630;">
			</form>
		</div>
        <div class="search-mask" ng-click="certSearch=!certSearch;"  ng-class="certSearch==true?' block':''"></div>
	</div>
	<div class="app-content">
		<div class=" item-list">
		    <dl class="item-list-first" >
				<dd class="item-row-4">姓名</dd>
				<dd class="item-row-3">职务</dd>
				<dd class="item-row-3">操作</dd>
			</dl>
			<dl ng-repeat="contact in contactList">
		     	<dd class="item-row-4 ellipsis">{{contact.name}}</dd>
				<dd class="item-row-3 ellipsis">{{contact.position}}</dd>
				<dd class="item-row-3">
				<a href="javascript:;" class="app-button icon icon-xiugai" ng-click="update(contact.enterpcontactId)"></a>
				<a href="javascript:;" class="icon pro_btn icon-lajixiang" ng-click="contactDelete(contact.enterpcontactId)" alt="删除"> </a>
				</dd>
			</dl>
			<div ng-show='busy'>Loading data...</div>
		</div>
	</div>
	<div class="app_footer">
		<div class="app-button app_btn" ng-click="addL()">添加联系人</div>
	</div>
</div>