<style>
.btn-info{color:#36f;font-size: 0.5rem;line-height: 1rem;}
.tab-content select {
    border-radius: .25rem;
    width: 50%;
    padding: .45rem .5rem;
    border: 1px solid #d6d6d6;
    font-size: .6rem;
}
</style>
<div class="app-page" data-page="miit" ng-controller="MiitCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			<div class="app_nav_head">
				<span class="app_nav_txt">工信备案</span>
			</div>
		</h1>
	</div>

	<div class="app-content">
		<ul class="nav nav-tabs" ng-init="vm.activeTab=1">
    		<li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">账号信息</a></li>
    		<li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2">备案信息</a></li>
    		<li ng-class="{active: vm.activeTab == 3}"><a href="javascript:;" ng-click="vm.activeTab = 3">完善信息</a></li>
  		</ul>
  		<div class="tab-content tab-bordered">
    		<div class="tab-panel" ng-show="vm.activeTab == 1">
    		
				<div class="detail_model detail_margin">
					<span class="btn-info">
					<p style="color: #f60;">【注】在PC上注册http://icp.sundns.com/login.php</p>
						操作成功后请保存以下信息
					</span>
				</div>
						
        		<div class="tab_detail">
					<div class="detail_model detail_margin">
						用户名称:
						<input type="text" ng-model="webinfo.bizicbUsername" placeholder="用户名称"/>
					</div>
					<div class="detail_model detail_margin">
						用户邮箱:
						<input type="text" ng-model="enterprise.email" placeholder="用户邮箱"/>
					</div>
					<div class="detail_model detail_margin">
						用户密码:
						<input type="text" ng-model="webinfo.bizicbPassword" placeholder="用户密码"/>
					</div>
    			</div>
			</div>
    		<div class="tab-panel" ng-show="vm.activeTab == 2">
        		<div class="tab_detail">
          			<div class="detail_model detail_margin">
						网站域名(不包含www):
						<input type="text" ng-model="bind.address" placeholder="请填写您要备案的网站域名，不包含www"/>
					</div>
					<div class="detail_model detail_margin">
						主办单位性质:
						<select ng-model="enterprise.type" ng-options="eT.value as eT.text for eT in enterpriseType">
						</select>
					</div>
					<div class="detail_model detail_margin">
						主办单位有效证件类型:
						<select ng-model="enterprise.certType" ng-options="eCT.value as eCT.text for eCT in enterpriseCertType">
						</select>
					</div>
					<div class="detail_model detail_margin">
						主办单位有效证件号码:
						<input type="text" ng-model="enterprise.certNumber" placeholder="主办单位有效证件号码"/>
						<span style="color:#999;padding-top: 0.1rem;display: block;"> 个人请填写身份证号码,企业请填写营业执照上的注册号</span>
            
					</div>
				</div>	
    		</div>
    		<div class="tab-panel" ng-show="vm.activeTab == 3">
        		<div class="tab_detail">
          			<div class="detail_model detail_margin">
						公司名称:
						<input type="text" ng-model="enterprise.name" placeholder="公司名称"/>
					</div>
					<div class="detail_model detail_margin">
						公司地址:
						<input type="text" ng-model="enterprise.dist" placeholder="公司地址"/>
					</div>
					<div class="detail_model detail_margin">
						营业执照号:
						<input type="text" ng-model="enterprise.certNumber" placeholder="营业执照号"/>
					</div>
					<div class="detail_model detail_margin">
						法人姓名:
						<input type="text" ng-model="enterprise.legalPre" placeholder="法人姓名"/>
					</div>
          			<div class="detail_model detail_margin">
						法人身份证号码:
						<input type="text" ng-model="enterprise.legalPersonIdNumber" placeholder="法人身份证号码"/>
					</div>
					<div class="detail_model detail_margin">
						法人手机号码:
						<input type="text" ng-model="enterprise.legalPersonCellphone" placeholder="法人手机号码"/>
					</div>
					<div class="detail_model detail_margin">
						网站域名:
						<input type="text" ng-model="bind.address" placeholder="网站域名"/>
					</div>
					<div class="detail_model detail_margin">
						邮箱地址:
						<input type="text" ng-model="enterprise.email" placeholder="邮箱地址"/>
					</div>
					<div class="detail_model detail_margin">
						电话:
						<input type="text" ng-model="enterprise.phone" placeholder="电话"/>
					</div>
					<div class="detail_model detail_margin">
						备案IP:
						<input type="text" ng-model="bind.ip" placeholder="备案IP"/>
					</div>
					<hr style="height: 1px;margin-bottom: 0.7rem; background: #ddd;">
					<div class="detail_model detail_margin">
						相关负责人:
						<input type="text" ng-model="principal.name" placeholder="相关负责人"/>
					</div>
					<div class="detail_model detail_margin">
						负责人身份证号码:
						<input type="text" ng-model="principal.certNumber" placeholder="负责人身份证号码"/>
					</div>
					<div class="detail_model detail_margin">
						负责人手机号码:
						<input type="text" ng-model="principal.cellphone" placeholder="负责人手机号码"/>
						<div class="controls" style="color: #999;
    padding-top: 0.5rem;
    line-height: 1rem;">
等待审核并邮寄。<br>
资料提交后，显示的状态是 等待阳光互联核实，等状态变成 真实性核验 状态的时候，需将  营业执照副本复印件、两张盖公章的核验单、两张盖公章的责任书、法人身份证正反面复印件（同一张纸上）、负责人身份证正反面复印件（同一张纸上）  邮寄到 上海市杨浦区国定路323号12楼  有孚网站股份有限公司 客服部收 4007200020。等待阳光互联电话审核（联系负责人）。
                        </div>
					</div>
					
				</div>	
    		</div>
  		</div>
	</div>
	<div class="app_footer" ng-click="update()">
		<div class="app-button app_btn">确定</div>
	</div>
</div>