<div class="app-page" data-page="order_detail_flase"
	ng-controller="viewCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			订单详情
		</h1>
	</div>
	<div class="app-content app-scrollable" style="background: #f5f5f5;">
		<div class="order_detail">
			<div class="order_detail_header">
				<div class="order_detail_title">
					订单状态：<span class="orange">{{orderStatus}}</span>
				</div>
				<div class="order_detail_state">
					<em class="icon fl icon-qianbaob"> </em> <span
						class="order_detail_state_txt"> {{orderPrompt}} </span>
				</div>
			</div>
			<div class="order_detail_receiving">
				<div class="order_detail_shadow"></div>
				<h3 class="order_detail_h3">收货信息</h3>
				<div class="order_detail_receiving_txt">
					<p>
						<span class="receiving_fl">收货人：</span><span class="receiving_fr">{{shipName}}</span>
					</p>
					<p ng-if="sPhone" >
						<span class="receiving_fl"  >电话：</span><span class="receiving_fr">{{shipPhone}}</span>
					</p>
					<p ng-if="sMobile">	
						<span class="receiving_fl" >手机：</span><span class="receiving_fr">{{shipMobile}}</span>
					</p>
					<p>
						<span class="receiving_fl">收货地址：</span><span class="receiving_fr">{{shipAddress}}</span>

					</p>
				</div>
			</div>
			<!-- 
                <div class="order_detail_note">
                    <h3 class="order_detail_h3 no_border">
                        备忘
                    </h3>
                    <textarea placeholder="无备忘，请编辑添加"></textarea>
                </div> -->
			<div class="order_detail_product">
				<h3 class="order_detail_h3">商品信息</h3>
				<div class="order_detail_product_list">
					<dl ng-repeat="product in productL">
						<dt>
							<img src="http://img.jihui88.com/{{product.com}}">
						</dt>
						<dd>
							{{product.name}}
							<ul class="order_detail_product_list_type">
								<li><span class="order_detail_product_meta">
										{{product.productAttr}} </span> <span
									class="order_detail_product_totel"> ￥{{product.price |
										number:2}} </span> <span class="order_detail_product_num">
										×{{product.productQuantity}} </span></li>
							</ul>
						</dd>
					</dl>
				</div>
			</div>
			<div class="order_detail_order">
				<h3 class="order_detail_h3">订单信息</h3>
				<div class="order_detail_order_list">
					<ul>
						<li><span class="order_list_fl">订单号：</span><span
							class="order_list_fr">{{orderSn}}</span></li>
						<li><span class="order_list_fl">下单时间：</span><span
							class="order_list_fr">{{addTime}}</span></li>
						<li><span class="order_list_fl">买家留言：</span><span
							class="order_list_fr">{{memo}}</span></li>
						<li ng-if="shippingS"><span class="order_list_fl">付款时间：</span><span
							class="order_list_fr">{{paymentTime}}</span></li>
						<li ng-if="receive"><span class="order_list_fl">发货时间：</span><span
							class="order_list_fr">{{shippingTime}}</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="app_footer order_footer">
		<div class="app_footer_txt font_14">
			<span class="font_16">应付款: </span><span class="font_16 orange"><em
				class="font_14">￥</em>{{payable | number:2}} 元
		</div>
		<div ng-if="pri" class="app-button app_btn app_btn_right"
			ng-click="updatePri(orderId)">修改价格</div>
		<div ng-if="goReceive" class="app-button app_btn"
			ng-click="goShipments(oId)">去发货</div>
	</div>
</div>