<div class="app-page" data-page="news_category"
	ng-controller="categoryCtrl">
	<div class="app_nav">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			分类管理
		</h1>
	</div>
	<div class="app-content app-scrollable">
		<div class="news_list category_list detail">
			<ul ng-repeat="category in categoryList">
				<li data-id={{category.id}}
					class="first_level category{{category.grade}} b_{{category.belongId}} id_{{category.id}}">
                    <em class="icon icon-xiala"></em>
					<!--<img id={{category.id}} src="/css/img/plus.png" width="30"-->
					<!--height="30" ng-click="subsetNews(category.id)" /> -->
                    <input
					type="text" class="category_list_text" ng-model="category.name"
					value="{{category.name}}"> <input type="submit" value="删除"
					class="category_list_delete"
					ng-click="categoryDel(category.categoryId)">
				</li>
			</ul>
		</div>
	</div>
	<div class="app_footer">
		<div class="app-button app_btn_left" ng-click="addCategory()">
			新增分类</div>
		<div class="app-button app_btn_right"
			ng-click="categoryUpdate(categoryList)">保存修改</div>
	</div>
</div>