<div class="app-page" ng-controller="MemberCtrl" 	infinite-scroll='loadMore()' infinite-scroll-disabled='datas.busy'
			infinite-scroll-distance='1'>
	<div class="app_nav"  ng-init="infoSearch=false">
		<h1>
			<span class="icon app-button icon-left" ng-click="$back()"></span>
			会员管理<span class="font_14"></span>
			<span class="button-search icon icon-sousuo" ng-click="infoSearch=!infoSearch;"></span>
		</h1>
		<div class="search_style" ng-class="infoSearch==true?' ':'search'" ng-info="infoSearch=false">
			<form ng-submit="infoSearch=false;search(1,name)">
				<input type="text" ng-model="name" class="input-small"
					placeholder="请输入用户名" maxlength="10"> <input type="submit"
					class="search-product icon" value="&#xe630;">
			</form>
		</div>
        <div class="search-mask" ng-click="infoSearch=!infoSearch;"  ng-class="infoSearch==true?' block':''"></div>
	</div>
	<div class="app-content app-scrollable">
		<div class="member_list item-list">
			<dl class="member_list_first">
			    <dd  class="item-row-2">编号</dd>
				<dd  class="item-row-3">用户名</dd>
				<dd class="item-row-5">注册时间</dd>
			</dl>
			<dl ng-repeat="member in memberList">
			 <dd  class="item-row-2">{{member.dx}}</dd>
				<dd class="ellipsis item-row-3">{{member.name!=null?member.name:member.username}}</dd>
				<dd class="item-row-5">{{member.addTime}}</dd>
			</dl>
			<div ng-show='datas.busy'>Loading data...</div>
		</div>
	</div>
	<div class="chaxun"  style="display:none;">
		<em class="icon icon-tishi"></em> 您还未开通商城，无法查看商城客户<br> 咨询请联系：<a
			href="tel:4007111011">4007111011</a>
	</div>
</div>
<div ng-include="'modules/include/footer.html'"></div>